# Aktueller Datenmodus:
# local = Browser-Speicher
# api   = spätere Nexus-API
VITE_DATA_MODE=local

# Im lokalen Modus noch ohne Bedeutung.
# Später laufen Website und API unter derselben Domain.
VITE_API_BASE_URL=/api

# Wird unter anderem in Nexus-Backups gespeichert.
VITE_APP_VERSION=0.2.0-alpha