.bp-modal-backdrop{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.5);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:5000;

}

.bp-modal{

    width:900px;

    max-width:95vw;

    max-height:90vh;

    overflow:auto;

    background:#fff;

    border-radius:12px;

    box-shadow:0 20px 60px rgba(0,0,0,.3);

}

.bp-modal-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    border-bottom:1px solid #ddd;

}

.bp-modal-content{

    padding:20px;

}