.bp-text{

    padding:80px 40px;

}

.bp-text-container{

    max-width:900px;

    margin:auto;

}

.bp-text h2{

    font-size:38px;

    margin-bottom:20px;

}

.bp-text p{

    font-size:18px;

    line-height:1.8;

}