*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:#050b18;

font-family:Inter,sans-serif;

overflow-x:hidden;

color:white;

}

#root{

width:100%;

min-height:100vh;

}